.header-login{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
} 

 .font-brand-login a{
    color: var(--backgroud-primary);
    background-color: #fff;

} 
.font-brand-login a p{
    font-size: 40px;
    line-height: 20px;
}
.font-brand-login a .wordsMore{
    font-size: 25px;
    line-height: 25px;
} 
.font-brand-login .nav-brand{
    background-color: #fff;
}
/* .color-icon a{
    /* color: var(--backgroud-primary); 
} */
.perfil-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


